---
IndentWidth: 4
---
# Specify Language
Language: Cpp

# ___ Short statement ___
#  "if (a) return"; can be put on a single line.
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

# If "true", "while (true) continue"; can be put on a single line.
AllowShortLoopsOnASingleLine: true

# int f() { return 0; } can be put on a single line.
AllowShortFunctionsOnASingleLine: Inline

# ___ Align ___
# Horizontally aligns arguments after an open bracket.
AlignAfterOpenBracket: Align

# Align consecutive declarations
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  Consecutive: true

# Align consecutive assignments.
AlignConsecutiveAssignments: Consecutive

# The return type of the function on its own line.
AlwaysBreakAfterDefinitionReturnType: TopLevel

# The column limit.
ColumnLimit: 80

# Extern and Class indent setting
BreakBeforeBraces: Custom
BraceWrapping:
    AfterExternBlock: true
    AfterClass: true
    AfterEnum: true

IndentAccessModifiers: true
PointerAlignment: Left
